<app-layout>
    <div class="container">
    <h3> Ajouter</h3>
      <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="nvUrl" id="nvUrl" name="nvUrl" placeholder="Saisir Url">
          <br>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </form>

      <table class="table table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">URL</th>
            <th scope="col">Nombre de visites</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let url of urls; let i=index;"> 
            <th scope="row">{{ i }} </th>
            <td>{{ url.mainUrl }}</td>
            <td>{{ url.nbv }}</td>
            <td>
                <a href="/urls/{{ url._id }}" class="btn btn-primary mr-1" role="button" aria-pressed="true">Afficher</a>
                <span></span><a href="#" class="btn btn-danger" role="button" aria-pressed="true">Supprimer</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
</app-layout>